## Preprocessing

In [28]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type = application_df['APPLICATION_TYPE'].value_counts()
application_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_type = application_df['APPLICATION_TYPE'].value_counts()
application_type = application_type[application_type < 500].index.tolist()
application_types_to_replace = application_type


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# to see which ones will be replaced
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count = classification_count[classification_count > 1] 
classification_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count = classification_count[classification_count < 100].index.tolist()   
classifications_to_replace = classification_count


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 
                                                        'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 
                                                        'SPECIAL_CONSIDERATIONS', 'INCOME_AMT'], drop_first=True)

application_df = application_df.astype(int)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_Y,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns=['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [39]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               5504

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 13,825
Trainable params: 13,825
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, batch_size=32, validation_split=0.2)

Epoch 1/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5748 - accuracy: 0.7178 - val_loss: 0.5643 - val_accuracy: 0.7172
Epoch 2/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5544 - accuracy: 0.7302 - val_loss: 0.5671 - val_accuracy: 0.7265
Epoch 3/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7327 - val_loss: 0.5667 - val_accuracy: 0.7226
Epoch 4/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7325 - val_loss: 0.5609 - val_accuracy: 0.7242
Epoch 5/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7352 - val_loss: 0.5628 - val_accuracy: 0.7182
Epoch 6/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7334 - val_loss: 0.5627 - val_accuracy: 0.7199
Epoch 7/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7342 - val_loss: 0.5598 - val_accuracy: 0.7228
Epoch 8/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7353 - val_loss: 0.5614 - val_accuracy: 0.7242
Epoch 9/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7368 - val_loss: 0.5623 - val_accuracy: 0.7230
Epoch 10/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7357 - val_loss: 0.5574 - val_accuracy: 0.7265
Epoch 11/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7369 - val_loss: 0.5624 - val_accuracy: 0.7223
Epoch 12/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7361 - val_loss: 0.5590 - val_accuracy: 0.7265
Epoch 13/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7372 - val_loss: 0.5597 - val_accuracy: 0.7252
Epoch 14/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7379 - val_loss: 0.5621 - val_accuracy: 0.7265
Epoch 15/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7385 - val_loss: 0.5630 - val_accuracy: 0.7224
Epoch 16/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7389 - val_loss: 0.5587 - val_accuracy: 0.7258
Epoch 17/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7389 - val_loss: 0.5611 - val_accuracy: 0.7240
Epoch 18/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7387 - val_loss: 0.5607 - val_accuracy: 0.7267
Epoch 19/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7393 - val_loss: 0.5593 - val_accuracy: 0.7224
Epoch 20/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7395 - val_loss: 0.5598 - val_accuracy: 0.7256
Epoch 21/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7400 - val_loss: 0.5627 - val_accuracy: 0.7228
Epoch 22/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7395 - val_loss: 0.5595 - val_accuracy: 0.7265
Epoch 23/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7400 - val_loss: 0.5585 - val_accuracy: 0.7256
Epoch 24/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7397 - val_loss: 0.5613 - val_accuracy: 0.7254
Epoch 25/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7406 - val_loss: 0.5666 - val_accuracy: 0.7228
Epoch 26/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7405 - val_loss: 0.5618 - val_accuracy: 0.7256
Epoch 27/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7418 - val_loss: 0.5584 - val_accuracy: 0.7256
Epoch 28/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7406 - val_loss: 0.5589 - val_accuracy: 0.7254
Epoch 29/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7412 - val_loss: 0.5574 - val_accuracy: 0.7259
Epoch 30/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7424 - val_loss: 0.5593 - val_accuracy: 0.7258
Epoch 31/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7412 - val_loss: 0.5589 - val_accuracy: 0.7246
Epoch 32/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7408 - val_loss: 0.5614 - val_accuracy: 0.7234
Epoch 33/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7416 - val_loss: 0.5595 - val_accuracy: 0.7244
Epoch 34/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7416 - val_loss: 0.5583 - val_accuracy: 0.7263
Epoch 35/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7417 - val_loss: 0.5623 - val_accuracy: 0.7250
Epoch 36/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7411 - val_loss: 0.5613 - val_accuracy: 0.7259
Epoch 37/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7422 - val_loss: 0.5597 - val_accuracy: 0.7259
Epoch 38/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7424 - val_loss: 0.5615 - val_accuracy: 0.7254
Epoch 39/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7419 - val_loss: 0.5585 - val_accuracy: 0.7244
Epoch 40/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7428 - val_loss: 0.5594 - val_accuracy: 0.7248
Epoch 41/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7437 - val_loss: 0.5658 - val_accuracy: 0.7244
Epoch 42/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7429 - val_loss: 0.5644 - val_accuracy: 0.7224
Epoch 43/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7433 - val_loss: 0.5611 - val_accuracy: 0.7238
Epoch 44/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7434 - val_loss: 0.5605 - val_accuracy: 0.7254
Epoch 45/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7429 - val_loss: 0.5636 - val_accuracy: 0.7250
Epoch 46/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7432 - val_loss: 0.5637 - val_accuracy: 0.7259
Epoch 47/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7425 - val_loss: 0.5681 - val_accuracy: 0.7248
Epoch 48/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7425 - val_loss: 0.5614 - val_accuracy: 0.7236
Epoch 49/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7439 - val_loss: 0.5608 - val_accuracy: 0.7240
Epoch 50/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7432 - val_loss: 0.5649 - val_accuracy: 0.7242
Epoch 51/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7426 - val_loss: 0.5641 - val_accuracy: 0.7232
Epoch 52/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7437 - val_loss: 0.5646 - val_accuracy: 0.7242
Epoch 53/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7435 - val_loss: 0.5610 - val_accuracy: 0.7240
Epoch 54/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7422 - val_loss: 0.5628 - val_accuracy: 0.7242
Epoch 55/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7428 - val_loss: 0.5682 - val_accuracy: 0.7258
Epoch 56/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7434 - val_loss: 0.5656 - val_accuracy: 0.7254
Epoch 57/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7432 - val_loss: 0.5619 - val_accuracy: 0.7250
Epoch 58/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7432 - val_loss: 0.5701 - val_accuracy: 0.7252
Epoch 59/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7426 - val_loss: 0.5676 - val_accuracy: 0.7234
Epoch 60/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7434 - val_loss: 0.5692 - val_accuracy: 0.7234
Epoch 61/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7432 - val_loss: 0.5645 - val_accuracy: 0.7252
Epoch 62/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7439 - val_loss: 0.5668 - val_accuracy: 0.7250
Epoch 63/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7433 - val_loss: 0.5663 - val_accuracy: 0.7238
Epoch 64/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7439 - val_loss: 0.5690 - val_accuracy: 0.7234
Epoch 65/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7429 - val_loss: 0.5667 - val_accuracy: 0.7256
Epoch 66/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5303 - accuracy: 0.7440 - val_loss: 0.5674 - val_accuracy: 0.7226
Epoch 67/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5302 - accuracy: 0.7442 - val_loss: 0.5667 - val_accuracy: 0.7261
Epoch 68/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5305 - accuracy: 0.7439 - val_loss: 0.5645 - val_accuracy: 0.7263
Epoch 69/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7437 - val_loss: 0.5717 - val_accuracy: 0.7223
Epoch 70/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7444 - val_loss: 0.5678 - val_accuracy: 0.7240
Epoch 71/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7432 - val_loss: 0.5677 - val_accuracy: 0.7230
Epoch 72/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7428 - val_loss: 0.5709 - val_accuracy: 0.7221
Epoch 73/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7430 - val_loss: 0.5685 - val_accuracy: 0.7246
Epoch 74/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7439 - val_loss: 0.5669 - val_accuracy: 0.7238
Epoch 75/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7433 - val_loss: 0.5666 - val_accuracy: 0.7238
Epoch 76/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7430 - val_loss: 0.5671 - val_accuracy: 0.7228
Epoch 77/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5291 - accuracy: 0.7438 - val_loss: 0.5668 - val_accuracy: 0.7232
Epoch 78/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5293 - accuracy: 0.7436 - val_loss: 0.5702 - val_accuracy: 0.7232
Epoch 79/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5292 - accuracy: 0.7439 - val_loss: 0.5702 - val_accuracy: 0.7236
Epoch 80/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5293 - accuracy: 0.7445 - val_loss: 0.5710 - val_accuracy: 0.7226
Epoch 81/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7437 - val_loss: 0.5688 - val_accuracy: 0.7256
Epoch 82/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5290 - accuracy: 0.7442 - val_loss: 0.5710 - val_accuracy: 0.7248
Epoch 83/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5291 - accuracy: 0.7442 - val_loss: 0.5718 - val_accuracy: 0.7232
Epoch 84/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5289 - accuracy: 0.7437 - val_loss: 0.5707 - val_accuracy: 0.7230
Epoch 85/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5289 - accuracy: 0.7448 - val_loss: 0.5720 - val_accuracy: 0.7240
Epoch 86/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7450 - val_loss: 0.5712 - val_accuracy: 0.7248
Epoch 87/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5286 - accuracy: 0.7444 - val_loss: 0.5738 - val_accuracy: 0.7240
Epoch 88/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7439 - val_loss: 0.5748 - val_accuracy: 0.7256
Epoch 89/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7440 - val_loss: 0.5716 - val_accuracy: 0.7232
Epoch 90/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5286 - accuracy: 0.7447 - val_loss: 0.5723 - val_accuracy: 0.7221
Epoch 91/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7444 - val_loss: 0.5715 - val_accuracy: 0.7242
Epoch 92/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7447 - val_loss: 0.5722 - val_accuracy: 0.7240
Epoch 93/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5288 - accuracy: 0.7438 - val_loss: 0.5754 - val_accuracy: 0.7236
Epoch 94/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5278 - accuracy: 0.7444 - val_loss: 0.5735 - val_accuracy: 0.7230
Epoch 95/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5280 - accuracy: 0.7443 - val_loss: 0.5738 - val_accuracy: 0.7219
Epoch 96/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7444 - val_loss: 0.5716 - val_accuracy: 0.7230
Epoch 97/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5281 - accuracy: 0.7448 - val_loss: 0.5743 - val_accuracy: 0.7236
Epoch 98/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5278 - accuracy: 0.7436 - val_loss: 0.5776 - val_accuracy: 0.7232
Epoch 99/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7444 - val_loss: 0.5717 - val_accuracy: 0.7254
Epoch 100/100
644/644 [==============================] - 1s 1ms/step - loss: 0.5275 - accuracy: 0.7450 - val_loss: 0.5731 - val_accuracy: 0.7256

In [43]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5786 - accuracy: 0.7248 - 309ms/epoch - 1ms/step
Loss: 0.5786112546920776, Accuracy: 0.724781334400177

In [ ]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')